Adafruit-Blinka==6.17.0
adafruit-circuitpython-busdevice==5.1.1
adafruit-circuitpython-framebuf==1.4.8
adafruit-circuitpython-ssd1306==2.12.3
Adafruit-GPIO==1.0.3
Adafruit-PlatformDetect==3.18.0
Adafruit-PureIO==1.1.9
numpy==1.21.4
opencv-python==4.5.3.56
Pillow==8.4.0
pkg_resources==0.0.0
pyftdi==0.53.3
pyserial==3.5
pyusb==1.2.1
rpi-ws281x==4.3.1
RPi.GPIO==0.7.0
spidev==3.5
sysv-ipc==1.1.0
tflite-runtime==2.7.0
